<ion-view view-title="Spieltag">
  <ion-content>
    <h1>Spieltag</h1>
    <div ng-hide="gv.gameDone" class="oneliner">
        TEAM A<input class="score_input" type="number" ng-model="gv.team_scoreA" /> : <input class="score_input" type="number" ng-model="gv.team_scoreB" > TEAM B
    </div>
    <div ng-show="gv.gameDone" class="oneliner">
        TEAM A {{gv.team_scoreA}} : {{gv.team_scoreB}} TEAM B
    </div>
    <table ng-hide="gv.gameDone" class="game_tbl">

    	<thead>
    		<th>Team</th>
    		<th>Name</th>
    		<th>Schwarz</th>
    		<th>Weiß</th>
    		<th>Combo</th>
    	</thead>
    	<tbody>
    	<tr ng-repeat="player in gv.players track by $index">
    		<div class="list">
    		<td>
    		{{player.curr.team}}
			</td>
    		<td>{{player.name}}</td>
    		<td>
    			<plusminus value="'black'" update="update_white" player="player"></plusminus>
    		</td>
    		<td>
    			<plusminus value="'whiteDown'" update="update_white" player="player"></plusminus>
    		</td>
    		<td>
    			<plusminus value="'combo'" update="update_total" player="player"></plusminus>
    		</td>
    	</tr>
    	</tbody>
    </table>
    <button ng-show="gv.gameStarted && gv.gameDone" ng-click="end_game()">Spiel speichern</button>
  </ion-content>
</ion-view>
