<ion-view view-title="Spieltag">
  <ion-content>
    <h1>Spieltag</h1>
    <div ng-hide="game_done" class="oneliner">
        TEAM A<input type="number" ng-model="gv.teama_score" /> : <input type="number" ng-model="gv.teamb_score" > TEAM B
    </div>
    <table ng-hide="game_done" class="game_tbl">

    	<thead>
    		<th>Team</th>
    		<th>Name</th>
    		<th>Schwarz</th>
    		<th>Weiß</th>
    		<th>Combo</th>
    	</thead>
    	<tbody>
    	<tr ng-repeat="player in gv.players track by $index">
    		<div class="list">
    		<td>
    		{{player.curr.team}}
			</td>
    		<td>{{player.name}}</td>
    		<td>
    			<plusminus value="'black'" update="update_white" player="player"></plusminus>
    		</td>
    		<td>
    			<plusminus value="'whiteDown'" update="update_white" player="player"></plusminus>
    		</td>
    		<td>
    			<plusminus value="'combo'" update="update_total" player="player"></plusminus>
    		</td>
    	</tr>
    	</tbody>
    </table>
    <button ng-show="game_done" ng-click="start_game()">Neues Spiel</button>
    <button ng-show="game_done" ng-click="end_game()">Spiel speichern</button>
  </ion-content>
</ion-view>
